/** Home page banner button **/
.promo-slider__item--style-2 .promo-slider__button.banner-btn {
    background: linear-gradient(77deg, rgba(251,82,32,1) 22%, rgba(244,185,49,1) 75%) !important;
    border: none;
    color: #fff;
    font-size: 16px;     
}

h3.upcoming_ride_heading{
    color: #fff;
}

p.ride_time{
    font-size: 20px;
    font-weight: 600;
}

p#demo{
    font-size: 30px;
    margin-top: -1rem;
}

section.section.no-padding-top.no-padding-bottom.abt-testimonials{
    margin-top: 10rem;
}